<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= user.department %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= user.number %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= user.dob %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= user.major %>
  </p>

</div>
