<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

  <p>
    <strong>Instructorname:</strong>
    <%= course.instructorName %>
  </p>

  <p>
    <strong>Weekdayone:</strong>
    <%= course.weekdayone %>
  </p>

  <p>
    <strong>Weekdaytwo:</strong>
    <%= course.weekdaytwo %>
  </p>

  <p>
    <strong>Starttime:</strong>
    <%= course.starttime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= course.endtime %>
  </p>

  <p>
    <strong>Coursecode:</strong>
    <%= course.coursecode %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Waitlistcapacity:</strong>
    <%= course.waitlistcapacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
